body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-light-gray);
  background-color: var(--color-dark-alt);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-light);

  &:hover {
    color: var(--color-light-gray);
  }
}

h1,
h2,
h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}

::selection {
  color: var(--color-dark);
  background-color: var(--color-light);
}

:focus-visible {
  outline: 2px dashed var(--color-light);
  outline-offset: 4px;
  transition-duration: 0s !important;
}
